body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
    height: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

nav button {
    padding: 10px 15px;
    border: none;
    background: linear-gradient(90deg, rgba(138, 132, 132, 1) 0%, rgba(250, 254, 255, 1) 100%);
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 0px 0 0 28px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background: #3e3c3c;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

article {
    background-color: #fff;
    padding: 15px;
    border-radius: 0 0 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* max-width: 280px; */
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article img {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

article h2 {
    font-size: 18px;
    color: #333;
    align-self: flex-start;
}

article p {
    font-size: 14px;
    color: #666;
    flex-grow: 1;
}

article strong {
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #666;
    border-radius: 5px;
    cursor: pointer;
}

article strong:hover {
    background-color: #cfc3c3;
    color: #000000;
}